.bd-indigo-900 {
    color: #fff;
    background-color: #140330;
}
.bd-indigo-800 {
    color: #fff;
    background-color: #290661;
}
.bd-indigo-700 {
    color: #fff;
    background-color: #3d0a91;
}